@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body{
    font-family: "Manrope";
    background-color: rgba(218, 177, 210, 0.336);
}
*{
    margin: 0;
}
/*default*/
p{
    color: rgb(119, 119, 119);
    font-size: 1.1rem;
    font-weight: 500;
}
h3{
    color: rgb(28, 28, 28);
    font-size: 2.8rem;
    font-weight: 800;
}
h5{
    color: rgb(28, 28, 28);
    font-size: 1.6rem;
    font-weight: 800;
}
/*header*/
header{
    width: 80%;
    height: 500px;
    margin: 0 auto;
    margin-top: 60px;
    /* border: 2px solid red; */
    display: flex;
    margin-bottom: 80px;
}
.header-left{
    width: 50%;
    height: 100%;
    /* border: 2px solid green; */
}
header h1{
    color: rgb(28, 28, 28);
    font-size: 4.4rem;
    font-weight: 800;
}
header p{
    margin-top: 30px;
    line-height: 25px;
    width: 90%;
}
header button{
    margin-top: 40px;
    width: 200px;
    height: 64px;
    border-radius: 10px;
    background: linear-gradient(270.00deg, rgb(255, 0, 0) 0%,rgb(255, 137, 56) 100%);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
}
.header-right{
    width: 50%;
    height: 100%;
    /* border: 2px solid rgb(255, 251, 4); */
}
.header-img img{
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    margin-left: 20px;
}
.header-rating{
    width: 200px;
    height: 90px;
    border-radius: 10px;
    box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.644);
    background: rgb(255, 255, 255);
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    bottom: 20%;
    left: 58%;
}
.rate-left{
    color: gold;
    font-size: 32px;
    margin-left: 10px;
}

.rate-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.rate-right h4{
    margin-top: -5px;
    color: rgb(28, 28, 28);
    font-size: 1.9rem;
    font-weight: 800;
}
.rate-right p{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0px;
    width: 150px;
}
/*main*/

/*feature section*/
.featured-container{
    width: 80%;
    height: 591px;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 80px;
}
.featured-titles{
    height: 150px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
}
.featured-main{
    height: 391px;
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.tea-card{
    width: 90%;
    height: 100%;
    border-radius: 10px;
    /* border: 2px solid black; */
    background: linear-gradient(180.00deg, rgb(244, 244, 244),rgba(244, 244, 244, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-left: 10px;
}
.tea-card img{
    margin-top: 30px;
}
.tea-titles{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.tea-card p{
    width: 90%;
}
/*great sec*/
.great-container{
    /* height: 520px; */
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
}
.great-left{
    width: 50%;
    height: 100%;
    /* border: 2px solid blue; */
    display: flex;
}
.left1-dsn{
    width: 50%;
    height: 100%;
    /* border: 2px solid purple; */
    
}
.leftup{
    width: 238px;
    height: 136px;
    transform: rotate(-180.00deg);
    border-radius: 10px;
    background: linear-gradient(270.00deg, rgba(255, 0, 0, 0.548) 0%,rgba(255, 56, 212, 0.603) 100%);
}
.leftdown{
    width: 238px;
    height: 355.28px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.041);
    background: rgba(127, 247, 7, 0.438);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.leftup2{
    width: 238px;
    height: 355.28px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.041);
    background: linear-gradient(270.00deg, rgba(255, 0, 0, 0.281) 0%,rgba(255, 56, 212, 0.548) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftdown2{
    width: 238px;
    height: 136px;
    transform: rotate(-180.00deg);
    border-radius: 10px;
    background: rgba(137, 253, 21, 0.575);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.041);
    margin-top: 25px;
}
.left2-dsn{
    width: 50%;
    height: 100%;
    /* border: 2px solid rgb(206, 79, 100); */
}
.great-right{
    width: 50%;
    height: 100%;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.great-right h3{
    margin-top: -15px;
}
/*news container*/
.news-container{
    width: 80%;
    /* height: 600px; */
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 80px;
}
.news-main{
    /* height: 500px; */
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.news-titles{
    height: 140px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}
.news-card{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 95%;
    border: 2px solid gray;
    gap: 15px;
    border-radius: 16px;
    padding: 10px 10px 10px 10px;
    margin-left: 3px;
}
.news-card img{
    border-radius: 16px;
}
.news-card h5{
    color: rgb(28, 28, 28);
    font-size: 1.25rem;
    font-weight: 800;
}
.news-card h6{
    color: rgb(28, 28, 28);
    font-size: 1rem;
}
/*reviews sec edit*/
.review-container{
    width: 80%;
    height: 550px;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    border-radius: 10px;
    background: linear-gradient(270.00deg, rgb(255, 0, 191) 0%,rgb(162, 0, 255) 100%);
}
.rev-left{
    width: 45%;
    height: 70%;
    /* border: 2px solid blue; */
    /* margin-left: 20px; */
    /* padding: 40px 0px 40px 20px; */
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 40px;
    
}
.rev-left h3{
    margin-top: 40px;
    font-size: 2.3rem;
}
.rev-left p{
    color: rgb(24, 24, 24);
    margin-bottom: 30px;
    width: 90%;
}
.rev-left button{
    width: 139px;
    height: 56px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: blueviolet;
}
.rev-right{
    width: 55%;
    height: 85%;
    /* border: 2px solid yellow; */
    margin-bottom: 30px;
}
.rev-card{
    border: 1px solid rgba(209, 5, 165, 0.438);
    height: 150px;
    width: 400px;
    background-color: white;
    border-radius: 18px;
}
.rev-pp img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.rev-intro h6{
    font-size: 1.2rem;
}
.rev-intro p{
    font-size: .8rem;
    color: rgb(41, 41, 41);
}
.rev-cmnt p {
    font-size: 1rem;
    font-weight: 500;
    color: black;
}
.rev-cmnt{
    margin-top: 20px;
    margin-left: 60px;
}
.rev-info{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}
.rev-up{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 105px 0px 0px 100px;
    opacity: 0.5;
}
.rev-pop{
    position: relative;
    top: 45%;
    left: 5%;
    border-radius: 18px;
    box-shadow: 4px 5px 10px purple;
    margin-right: 150px;
}





/*responsive for mobile*/
@media screen and (max-width: 576px) {
    header{
        /* height: auto; */
        flex-direction: column;
        height: auto;
    }
    .header-left{
        width: 100%;
        height: auto;
    }
    header h1{
        width: 110%;
        color: rgb(28, 28, 28);
        font-size: 3rem;
        font-weight: 700;
    }
    header p{
        margin-top: 20px;
        line-height: 20px;
        width: 100%;
    }
    
    .header-right{
        width: 100%;
        height: auto;
        /* border: 2px solid rgb(255, 251, 4); */
    }
    .header-img img{
        margin-left: 0px;
    }
    .header-rating{
        display: none;
       /* bottom: -100%;
        left: 42%;
        margin-bottom: 50px; */
    }
    /*feature section*/
    .featured-container{
        width: 80%;
        height: auto;
    }
    .featured-titles{
        height: auto;
        gap: 10px;
    }
    .featured-titles h3{
        font-size: 1.8rem;
    }
    .featured-titles p{
        font-size: .8rem;
        width: 100%;
    }
    .featured-main{
        height: auto;
        grid-template-columns: repeat(2,1fr);
    }
    .tea-card{
        margin-top: 10px;
        width: 90%;
        height: auto;
        gap: 20px;
    }
    .tea-card img{
        margin-top: 20px;
    }
    
    .tea-card h5{
        font-size: 1.2rem;
    }
    .tea-card p{
        width: 90%;
        font-size: .8rem;
    }
    /*great sec*/
    .great-container{
        flex-direction: column-reverse;
        margin-bottom: 60px;
    }
    .great-right{
        width: 100%;
        gap: 10px;
        text-align: center;
        margin-bottom: 20px;
    }
    .great-right h3{
        font-size: 1.8rem;
    }
    .great-right h5{
        font-size: 1rem;
    }
    .great-right p{
        font-size: .8rem;
    }
    .great-left{
        width: 100%;
    }
    .leftup,.leftdown,.leftup2,.leftdown2{
        width: 160px;
    }
    .leftup,.leftdown2{
        height: 120px;
    }
    .leftdown,.leftup2{
        height: 200px;
    }
    .leftdown img,.leftup2 img{
        height: 75%;
        width: 60%;
    }
    /*news container*/
    .news-container{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 60px;
    }
    .news-main{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .news-titles{
        height: auto;
        gap: 10px;
    }
    .news-titles h3{
        font-size: 1.8rem;
    }
    .news-titles p{
        font-size: .8rem;
        width: 100%;
    }
    /*reviews sec edit*/
    .review-container{
        height: 700px;
        /* height: auto; */
        flex-direction: column;
    }
    .rev-left{
        width: 100%;
        margin-top: 20px;
        gap: 10px;
        margin-left: 20px;
    }
    .rev-left h3{
        margin-top: 20px;
        font-size: 1.6rem;
    }
    .rev-left p{
        width: 90%;
        font-size: .8rem;
    }
    .rev-left button{
        margin-top: -10px;
        width: 129px;
        height: 46px;
        font-size: 1rem;
    }
    .rev-right{
        width: 100%;
        margin-bottom: 30px;
    }
    .rev-card{
        height: 150px;
        width: 250px;
    }
    .rev-pp img{
        width: 30px;
        height: 30px;
    }
    .rev-intro h6{
        font-size: 1rem;
    }
    .rev-intro p{
        font-size: .7rem;
    }
    .rev-cmnt p {
        font-size: .8rem;
    }
    .rev-cmnt{
        margin-top: 10px;
        margin-left: 50px;
    }
    .rev-up{
        padding: 10px 0px 0px 70px;
    }
    .rev-pop{
        top: 30%;
        left: 5%;
    }


}